<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new</title>
</head>
<body>
    <h1>Add your chay here:</h1>
    <form action="/chat" method="post">
        <input type="text" name="from" placeholder="who are you"><br><br>
        <textarea name="msg" id="" cols="30" rows="10">Enetr your msg!!</textarea><br><br>
        <input type="text" name="to" placeholder="whom you send"><br><br>
        <button>submit</button>
    </form>
</body>
</html>